<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>


<h1>Edit Post!</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <div><input type="text" name="post[title]" placeholder="Title" value="<%= post.title  %>"></div>
    <div><input type="text" name="post[description]" placeholder="Description" value="<%= post.description %>"></div>
    <div>
        <input type="file" id="imageUpload" accept="images/*" name="images" multiple />
        <div>
            <% post.images.forEach(function(image, i) { %>
                <img src="<%= image.url %>" width="100px" />
                <p>Public ID: <%= image.public_id %></p>
                <label for="image<%= i %>">Delete?</label>
                <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
            <% }); %>
        </div>
    </div>
    <div>
        <textarea name="post[body]" id="editor" placeholder="Body"><%= post.body %></textarea>
    </div>

    <script>
      CKEDITOR.replace('editor')
    </script>

    <input type="submit" id="submit">
</form>

<script src="/javascripts/post-edit.js"></script>

<% include ../partials/footer.ejs %>
